* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif; 
	margin: 0;
}

p {
	font-size: 1em;
	line-height: 1.48em;
}

#skip {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

#skip:focus {
  right: auto;
}
.button-modal
{
  width: 250px;
  height: 50px;
  font-family: 'Raleway'; sans-serif;
  font-size: 25px;
  background-color: #7abee0;
  border: none;
  font-weight: bold;
  align-self: auto;
  margin: 0px 0px 30px 0px;
  margin-left: 9px;

}

.button-modal2
{
  width: 250px;
  height: 50px;
  font-family: 'Raleway'; sans-serif;
  font-size: 25px;
  background-color: #eaabbf;
  border: none;
  font-weight: bold;
  align-self: auto;
  margin: 0px 0px 30px 0px;
  margin-left: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 6em;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
}

header .logo {
	width: 12em;
}

.nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	margin-left: 2em;
	display: inline-block;
	font-family: 'Futura', 'Century Gothic', sans-serif;
}

.nav-links li a {
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
}
.mySlides {display: none}

.flex-wrapper-index
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-spacing
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-spacing
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-spacing-adjust
{
  margin: 0px 100px 0px 20px;
}
.button-index
{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: #F2D08F;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 5px auto;
}
.slideshow-container {
  max-width: 2000px;
  margin: auto;
}
.shoemakers-font
{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin: auto;
}

.shoemakers-font-desc
{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 100;
  margin: 25px auto 25px auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}

#slider-bg {
	background-color: #92b0ed;
	width: 100%;
}

.slider {
	width: 100%;
	max-width: 1280px;
  margin: auto;
}

#products-bg {
	background-color: #75bfdd;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.products {
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

.shoes {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "info info one two three"
	". . four five .";
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	width: 80%;
	margin: auto;
}

.shoes img {
	object-fit: cover;
  height: 15em;
  width: 15em;
}

.shoes div:nth-child(1) { grid-area: info; }
.shoes div:nth-child(2) { grid-area: one; }
.shoes div:nth-child(3) { grid-area: two; }
.shoes div:nth-child(4) { grid-area: three; }
.shoes div:nth-child(5) { grid-area: four; }
.shoes div:nth-child(6) { grid-area: five; }


#customize-bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #7cb8b6;
	width: 100%;
	height: 100vh;
}
.custom {
	margin: auto;
	width: 100%;
	max-width: 1280px;
}

.custom p {
	margin: auto;
	text-align: center;
}

h1 {
	color: #fff;
	text-align: center;
	font-family: 'Futura', 'Century Gothic', sans-serif;
	font-weight: normal;
}

.button {
	background-color: #F2D08F;
	color: #000;
	padding: 1em 3.5em;
	text-align: center;
	text-decoration: none;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: bold;
	margin: 1.2em auto;
	text-transform: uppercase;
	display: block;
	width: 15em;
	/*box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}

.button-customize-next {
	background-color: #F2D08F;
	color: #000;
	padding: 1em 3.5em;
	text-align: center;
	text-decoration: none;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: bold;
	margin: 1.2em auto;
	text-transform: uppercase;
	display: block;
	width: 15em;
	visibility: hidden;
	/*box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}

#story-bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f3cf97;
	width: 100%;
	padding: 5em 0;
}

.story {
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

.caps {
	text-transform: uppercase;
}

h3 {
	padding: 0 6em;
	font-family: 'Bree Serif'
	font-weight: bolder;
	font-style: italic;
}

.story-a {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 5em 1fr;
	grid-column-gap: 3em;
	grid-template-areas: 
	"grid_a grid_b"
	"grid_a grid_d"
	"grid_c grid_d";
	width: 100%;
}

.story-a img {
	object-fit: cover;
	width: 100%;
}

.story-a div:nth-child(1) { grid-area: grid_a;}
.story-a div:nth-child(2) { grid-area: grid_b; }
.story-a div:nth-child(3) { grid-area: grid_c; }
.story-a div:nth-child(4) { grid-area: grid_d;}


.story-b {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
	grid-template-areas: 
	"grid_a grid_a grid_b grid_c"
	". grid_d grid_e grid_f";
	width: 100%;
	margin: 5em auto;
}

.story-b img {
	object-fit: cover;
	width: 100%;
}

.story-b div:nth-child(1) { grid-area: grid_a; } 
.story-b div:nth-child(2) { grid-area: grid_b; }
.story-b div:nth-child(3) { grid-area: grid_c; }
.story-b div:nth-child(4) { grid-area: grid_d; }
.story-b div:nth-child(5) { grid-area: grid_e; }
.story-b div:nth-child(6) { grid-area: grid_f; }


.blue {
	width: 100%;
	height: 1.75em;
	background-color: #92b0ed;
	padding: 0;
	margin: 0;
}

.pink {
	width: 100%;
	height: 1.75em;
	background-color: #edabbe;
	padding: 0;
	margin: 0;
}

.story-c {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"left right";
	width: 100%; 
}

.story-c img {
	object-fit: cover;
	width: 100%;
  padding-top: 10em;
}

.read-more {
	background-color: #7cb8b6;
	text-align: right;
	padding: 0.25em;
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em;
}

.story-c div:nth-child(1) { grid-area: left; }
.story-c div:nth-child(2) { grid-area: right; padding: 2em 0 2em 4em; }

footer {
	padding: 3em 3em;
	color: #fff;
	display: flex;
	align-items: flex-start;
  justify-content: space-between;
	background-color: #edabbe;
}

.footer-links {
	display: grid;
	grid-template-columns: repeat(2, 100px 250px);
	grid-template-rows: 1fr;
	grid-template-areas: "one two three four";
	grid-column-gap: 1em;
	line-height: 1.74em;
}

.footer-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-links div:nth-child(1) { grid-area: one; }
.footer-links div:nth-child(2) { grid-area: two; }
.footer-links div:nth-child(3) { grid-area: three; }
.footer-links div:nth-child(4) { grid-area: four; }

.social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social li {
	margin-left: 1em;
	display: inline-block;
}

.social li a {
	color: #fff;
	font-size: 1.5em;
}

.congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  height: 100vh;
}

.congrats p {
  margin: auto;
  text-align: center;
}

.progress {
  width: 1000px;
  margin: 50px auto;
  text-align: center;
}
.progress .circle {
  background: #edabbe;
  border: 5px solid rgb(124, 184, 182);
}
.progress .circle,
.progress .bar {
  display: inline-block;
  width: 18px; height: 18px;
  border-radius: 100px;
}
.progress .active {
  border: none;
  margin-left: -10px;
  background-color: #edabbe;
  position: relative;
  box-shadow: 0 0 0 10px #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.progress .bar {
  background: #fff;
  position: relative;
  width: 150px;
  height: 2px;
  top: -52px;
  margin-left: -4px;
  margin-right: -4px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: pink;
  font-size: 17px;
  color: transparent;
}
.progress .circle .title {
  color: #000;
  font-size: 12px;
  width: 200px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0 0 -90px;
}

.border-appear
{
  border: 3px solid white;
}

.shoe-style{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 25px;
	margin-bottom:5px;
	font-family: 'Roboto'; sans-serif;
	color: white;
}

.shoe-vendor{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:18px;
	font-family: 'Roboto'; sans-serif;
	font-weight: 100;
	font-style: italic;
	color: white;
}

.circle-dynamic
{
    background: black;
    border-radius: 50%;
    height:50px;
    width:50px;
    margin:10px;
    display: inline-block;
}

.desc-font-modif-title
{
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-weight: 700;
  margin-bottom: 5px;
}

.desc-font-modif-content
{
  color: white;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.desc-font-modif-title2
{
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.text-box-spacing
{
  width: 200px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  font-family: 'Raleway'; sans-serif;
  background-color: #F2D08F;
  border: none;
  color: white; 
}

.modal 
{
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}


.modal-content 
{
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    color:black;
    font-weight: 1.5px;
    font-family: Allerta;
    font-size: 22px;
    text-align: center;
    background-color: #92B0ED;
}

.desc-font-modif-img
{
  color: white;
  font-size: 1em;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.size-chart-link
{
  color: white;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  text-decoration: none;
}



.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 2000px;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #92b0ed;
}

.flex-container > div {
  background-color: #92b0ed;
  text-align: center;
  font-size: 20px;
  margin-top: 225px;
  width: 250px;
}

.column {
    float: left;
    width: 50%;
    height: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #F2D08F;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: auto;
}



.img-circular{

 background-size: cover;
 display: block;
 padding-bottom: 200px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
